# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Python
__pycache__/
*.py[cod]
.venv/
.env

# Node / Prisma
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDE
.idea/
.vscode/

